@page "/"

<PageTitle>TxapoTxapo</PageTitle>

  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="https://source.unsplash.com/random/1024x1024/?notebook" class="d-block w-100 c-img" alt="Slide 1">
        <div class="carousel-caption top-0 mt-4">
          <p class="mt-5 fs-3 text-uppercase">Discover the hidden world</p>
          <RadzenText TextStyle="TextStyle.H1" TagName="TagName.P">Bit in Rio</RadzenText>
          <RadzenButton Text="Book a tour" class="px-4 py-2 fs-5 mt-5"></RadzenButton>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://source.unsplash.com/random/1024x1024/?shoping" class="d-block w-100 c-img" alt="Slide 2">
        <div class="carousel-caption top-0 mt-4">
          <p class="text-uppercase fs-3 mt-5">The season has arrived</p>
          <RadzenText TextStyle="TextStyle.H1" TagName="TagName.P">Entrega Gratuita</RadzenText>
          <RadzenButton Text="Book a tour" class="px-4 py-2 fs-5 mt-5"></RadzenButton>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://source.unsplash.com/random/1024x1024/?mobile" class="d-block w-100 c-img" alt="Slide 3">
        <div class="carousel-caption top-0 mt-4">
          <p class="text-uppercase fs-3 mt-5">Destination activities</p>
          <RadzenText TextStyle="TextStyle.H1" TagName="TagName.P">Go to Glacier</RadzenText>
          <RadzenButton Text="Book a tour" class="px-4 py-2 fs-5 mt-5"></RadzenButton>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

 


<div class="container-xxl">


<div class="content py-3 my-5">
    <RadzenText TextStyle="TextStyle.H3" TagName="TagName.P">Lojas Favoritas</RadzenText>

    <div class="row">

        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="m-2 card img-prod">
                <img src="https://source.unsplash.com/random/128x128/?shop" class="img-prod" alt="...">
            </div>
        </div>
        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="m-2 card img-prod">
                <img src="https://source.unsplash.com/random/128x128/?watch" class="img-prod" alt="...">
            </div>
        </div>

        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="m-2 card img-prod">
                <img src="https://source.unsplash.com/random/128x128/?food" class="img-prod" alt="...">
            </div>
        </div>

        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="m-2 card img-prod">
                <img src="https://source.unsplash.com/random/128x128/?car" class="img-prod" alt="...">
            </div>
        </div>


        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="m-2 card img-prod">
                <img src="https://source.unsplash.com/random/128x128/?airplane" class="img-prod" alt="...">
            </div>
        </div>

        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="m-2 card img-prod">
                <img src="https://source.unsplash.com/random/128x128/?book" class="img-prod" alt="...">
            </div>
        </div>

        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="m-2 card img-prod">
                <img src="https://source.unsplash.com/random/128x128/?fire" class="img-prod" alt="...">
            </div>
        </div>

        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="m-2 card img-prod">
                <img src="https://source.unsplash.com/random/128x128/?water" class="img-prod" alt="...">
            </div>
        </div>

        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="m-2 card img-prod"> 
                <img src="https://source.unsplash.com/random/128x128/?universe" class="img-prod" alt="...">
            </div>
        </div>

        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
            <div class="m-2 card img-prod">
                <img src="https://source.unsplash.com/random/128x128/?planet" class="img-prod" alt="...">
            </div>
        </div>
    </div>
</div>



<div class="content my-5 py-5 mx-3">
    <RadzenText TextStyle="TextStyle.H3" TagName="TagName.P">Produtos Recomendados</RadzenText>
    <div class="row">
        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 my-1">
            <RadzenCard class="mx-1">
                <RadzenRow>
                    <RadzenColumn Size="4" class="rz-text-truncate">
                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="Selado" class="me-1" />
                    </RadzenColumn>
                    <RadzenColumn Size="8" class="rz-text-align-end">
                        <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="MZN 65.000,00" />
                    </RadzenColumn>
                </RadzenRow>
                <hr style="border: none; background-color: var(--rz-text-disabled-color); height: 1px; margin: 1rem 0;" />
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                    <RadzenImage Path="https://source.unsplash.com/random/256x256/?iphone" Style="width: 100px; height: 100px; border-radius: 10%" />
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.H6" Class="rz-mb-0">Iphone 12</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1">256 GB</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2">6 GB</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </div>

        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 my-1">
            <RadzenCard class="mx-1">
                <RadzenRow>
                    <RadzenColumn Size="4" class="rz-text-truncate">
                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="Selado" class="me-1" />
                    </RadzenColumn>
                    <RadzenColumn Size="8" class="rz-text-align-end">
                        <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="MZN 65.000,00" />
                    </RadzenColumn>
                </RadzenRow>
                <hr style="border: none; background-color: var(--rz-text-disabled-color); height: 1px; margin: 1rem 0;" />
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                    <RadzenImage Path="https://source.unsplash.com/random/256x256/?iphone" Style="width: 100px; height: 100px; border-radius: 10%" />
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.H6" Class="rz-mb-0">Iphone 12</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1">256 GB</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2">6 GB</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </div>

        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 my-1">
            <RadzenCard class="mx-1">
                <RadzenRow>
                    <RadzenColumn Size="4" class="rz-text-truncate">
                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="Selado" class="me-1" />
                    </RadzenColumn>
                    <RadzenColumn Size="8" class="rz-text-align-end">
                        <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="MZN 65.000,00" />
                    </RadzenColumn>
                </RadzenRow>
                <hr style="border: none; background-color: var(--rz-text-disabled-color); height: 1px; margin: 1rem 0;" />
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                    <RadzenImage Path="https://source.unsplash.com/random/256x256/?iphone" Style="width: 100px; height: 100px; border-radius: 10%" />
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.H6" Class="rz-mb-0">Iphone 12</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1">256 GB</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2">6 GB</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </div>

        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 my-1">
            <RadzenCard class="mx-1">
                <RadzenRow>
                    <RadzenColumn Size="4" class="rz-text-truncate">
                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="Selado" class="me-1" />
                    </RadzenColumn>
                    <RadzenColumn Size="8" class="rz-text-align-end">
                        <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="MZN 65.000,00" />
                    </RadzenColumn>
                </RadzenRow>
                <hr style="border: none; background-color: var(--rz-text-disabled-color); height: 1px; margin: 1rem 0;" />
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                    <RadzenImage Path="https://source.unsplash.com/random/256x256/?iphone" Style="width: 100px; height: 100px; border-radius: 10%" />
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.H6" Class="rz-mb-0">Iphone 12</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1">256 GB</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2">6 GB</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </div>

        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 my-1">
            <RadzenCard class="mx-1">
                <RadzenRow>
                    <RadzenColumn Size="4" class="rz-text-truncate">
                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="Selado" class="me-1" />
                    </RadzenColumn>
                    <RadzenColumn Size="8" class="rz-text-align-end">
                        <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="MZN 65.000,00" />
                    </RadzenColumn>
                </RadzenRow>
                <hr style="border: none; background-color: var(--rz-text-disabled-color); height: 1px; margin: 1rem 0;" />
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                    <RadzenImage Path="https://source.unsplash.com/random/256x256/?iphone" Style="width: 100px; height: 100px; border-radius: 10%" />
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.H6" Class="rz-mb-0">Iphone 12</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1">256 GB</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2">6 GB</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </div>

        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 my-1">
            <RadzenCard class="mx-1">
                <RadzenRow>
                    <RadzenColumn Size="4" class="rz-text-truncate">
                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="Selado" class="me-1" />
                    </RadzenColumn>
                    <RadzenColumn Size="8" class="rz-text-align-end">
                        <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="MZN 65.000,00" />
                    </RadzenColumn>
                </RadzenRow>
                <hr style="border: none; background-color: var(--rz-text-disabled-color); height: 1px; margin: 1rem 0;" />
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                    <RadzenImage Path="https://source.unsplash.com/random/256x256/?iphone" Style="width: 100px; height: 100px; border-radius: 10%" />
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.H6" Class="rz-mb-0">Iphone 12</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1">256 GB</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2">6 GB</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </div>

        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 my-1">
            <RadzenCard class="mx-1">
                <RadzenRow>
                    <RadzenColumn Size="4" class="rz-text-truncate">
                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="Selado" class="me-1" />
                    </RadzenColumn>
                    <RadzenColumn Size="8" class="rz-text-align-end">
                        <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="MZN 65.000,00" />
                    </RadzenColumn>
                </RadzenRow>
                <hr style="border: none; background-color: var(--rz-text-disabled-color); height: 1px; margin: 1rem 0;" />
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                    <RadzenImage Path="https://source.unsplash.com/random/256x256/?iphone" Style="width: 100px; height: 100px; border-radius: 10%" />
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.H6" Class="rz-mb-0">Iphone 12</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1">256 GB</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2">6 GB</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </div>

        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 my-1">
            <RadzenCard class="mx-1">
                <RadzenRow>
                    <RadzenColumn Size="4" class="rz-text-truncate">
                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="Selado" class="me-1" />
                    </RadzenColumn>
                    <RadzenColumn Size="8" class="rz-text-align-end">
                        <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="MZN 65.000,00" />
                    </RadzenColumn>
                </RadzenRow>
                <hr style="border: none; background-color: var(--rz-text-disabled-color); height: 1px; margin: 1rem 0;" />
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                    <RadzenImage Path="https://source.unsplash.com/random/256x256/?iphone" Style="width: 100px; height: 100px; border-radius: 10%" />
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.H6" Class="rz-mb-0">Iphone 12</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1">256 GB</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2">6 GB</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </div>
    </div>
</div>

</div>


<style>
    .c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
.img-prod {
    padding: 0;
    border: none;
    border-radius: 5%;
}

.rz-body {
  padding: 0; !important
}
</style>

