@page "/"

<PageTitle>TxapoTxapo</PageTitle>

  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="https://source.unsplash.com/random/1024x1024/?notebook" class="d-block w-100 c-img" alt="Slide 1">
        <div class="carousel-caption top-0 mt-4">
          <p class="mt-5 fs-3 text-uppercase">Discover the hidden world</p>
          <h1 class="display-1 fw-bolder text-capitalize">Bit in Rio</h1>
          <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Book a tour</button>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://source.unsplash.com/random/1024x1024/?shoping" class="d-block w-100 c-img" alt="Slide 2">
        <div class="carousel-caption top-0 mt-4">
          <p class="text-uppercase fs-3 mt-5">The season has arrived</p>
          <p class="display-1 fw-bolder text-capitalize">3 available tours</p>
          <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
            data-bs-target="#booking-modal">Book a tour</button>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://source.unsplash.com/random/1024x1024/?mobile" class="d-block w-100 c-img" alt="Slide 3">
        <div class="carousel-caption top-0 mt-4">
          <p class="text-uppercase fs-3 mt-5">Destination activities</p>
          <p class="display-1 fw-bolder text-capitalize">Go glacier hiking</p>
          <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
            data-bs-target="#booking-modal">Book a tour</button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

 


<div class="container-xxl">



<div id="slider-main" class="content my-5 py-3 px-3">
    <h3>Marcas populares</h3>

    <div class="wraper-g">


    <div class="row carol">

        <div class="card col-2 px-0 mx-3">
            <img src="https://source.unsplash.com/random/256x256/?shop" class="card-img-top" alt="...">
        </div>
        <div class="card col-2 px-0 mx-3">
            <img src="https://source.unsplash.com/random/256x256/?watch" class="card-img-top" alt="...">
        </div>

        <div class="card col-2 px-0 mx-3">
            <img src="https://source.unsplash.com/random/256x256/?food" class="card-img-top" alt="...">
        </div>

        <div class="card col-2 px-0 mx-3">
            <img src="https://source.unsplash.com/random/256x256/?car" class="card-img-top" alt="...">
        </div>


        <div class="card col-2 px-0 mx-3">
            <img src="https://source.unsplash.com/random/256x256/?airplane" class="card-img-top" alt="...">

        </div>

        <div class="card col-2 px-0 mx-3">
            <img src="https://source.unsplash.com/random/256x256/?book" class="card-img-top" alt="...">
        </div>
    </div>
    </div>
</div>


<div class="content my-5 mx-3">
    <h3>Lojas em destaque</h3>
    <div class="row">


        <div class="card col px-0 mx-1">
            <img src="https://source.unsplash.com/random/256x256/?mouse" class="card-img-top" alt="...">
            <div class="card-body">
                <p> <strong> MZN 5,405.00</strong></p>
            </div>
        </div>

        <div class="card col mx-1 px-0">
            <img src="https://source.unsplash.com/random/256x256/?pendrive" class="card-img-top" alt="...">
            <div class="card-body">
                <p> <strong> MZN 5,405.00</strong></p>
            </div>
        </div>

        <div class="card col px-0 mx-1">
            <img src="https://source.unsplash.com/random/256x256/?people" class="card-img-top" alt="...">
            <div class="card-body">
                <p> <strong> MZN 5,405.00</strong></p>
            </div>
        </div>

        <div class="card col px-0 mx-1">
            <img src="https://source.unsplash.com/random/256x256/?light" class="card-img-top" alt="...">
            <div class="card-body">
                <p> <strong> MZN 5,405.00</strong></p>
            </div>
        </div>

        <div class="card col px-0 mx-1">
            <img src="https://source.unsplash.com/random/256x256/?ocean" class="card-img-top" alt="...">
            <div class="card-body">
                <p> <strong> MZN 5,405.00</strong></p>
            </div>
        </div>


        <div class="card col px-0 mx-1">
            <img src="https://source.unsplash.com/random/256x256/?space" class="card-img-top" alt="...">
            <div class="card-body">
                <p> <strong> MZN 5,405.00</strong></p>
            </div>
        </div>

        <div class="card col px-0 mx-1">
            <img src="https://source.unsplash.com/random/256x256/?helicopter" class="card-img-top" alt="...">
            <div class="card-body">
                <p> <strong> MZN 5,405.00</strong></p>
            </div>
        </div>

    </div>
</div>


<div class="content mx-3 my-3">
    <h3>Produtos em alta</h3>
    <div class="row">
        <div class="card col px-0 mx-1">
            <img src="./screen.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p> <strong> MZN 5,405.00</strong></p>
            </div>
        </div>

        <div class="card col px-0 mx-1">
            <img src="./screen.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p> <strong> MZN 5,405.00</strong></p>
            </div>
        </div>

        <div class="card col px-0 mx-1">
            <img src="./screen.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p> <strong> MZN 5,405.00</strong></p>
            </div>
        </div>

        <div class="card col px-0 mx-1">
            <img src="./screen.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p> <strong> MZN 5,405.00</strong></p>
            </div>
        </div>

        <div class="card col px-0 mx-1">
            <img src="./screen.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p> <strong> MZN 5,405.00</strong></p>
            </div>
        </div>

    </div>
</div>

</div>


<style>
    .c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.carol {
    display: flex;
    flex-flow: row nowrap;
}

#slider-main {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.wraper-g {
    overflow-x: hidden;
}
</style>

